.statement {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  background-color: rgb(226, 226, 226);
}

.date-and-balance {
  display: flex;
  background-color: #d8d8d8;
  color: #275e35;
  user-select: none;
  font-weight: bold;
  margin: 0 0 10px 10px;
}
