.name {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  font-weight: bold;
}

.description {
  display: flex;
  padding-left: 25px;
  font-style: italic;
}

.amount {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  font-weight: bold;
}

.transaction {
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
  user-select: none;
}

.transaction:hover {
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}
