.name {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

.amount {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.transaction {
  border-bottom: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 5px;
  user-select: none;
}

.transaction:hover {
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}
